.container{:style => "padding:0 0 0 0;"}
  #footer_bar{:style => "padding:30px 15px 0px 15px;background-color:#ffffff;"}
    -# .row{:style => "padding:0px 10px 0px 10px;color:#0e70b9;font-size:2em"}
    -#   .col-xs-6
    -#     Our Brand Promise
    -#   .col-xs-2
    -#     %br
      -# .col-xs-4{:style => "padding:0px 10px 0px 25px"}
      -#   *BUY RISK FREE
    .row{:style => "padding:0px 10px 0px 10px;color:#000000;"}
      -# .col-xs-6
      -#   At empower, we believe our brand and promise we make to patients and their caregivers, customers and business partners – what we do for them and why they should care – 
      -#   will be critical to meeting the unmet patient and market needs. 
      -#   Our brand promises we will help make cancer treatment side effects better.
      -#   %br
      -#   %br
      -#     Learn more about the Science Behind our products <a href="http://www.empower.com/"> here</a>.
      -# .col-xs-2
      -#   %br
      .col-xs-12{:style => "text-align:left;color:#black;"}
        %strong
          * These statements have not been evaluated by the Food and Drug Administration. These products are not intended to diagnose, treat, cure or prevent any disease.
      -# .col-xs-4
        -# .col-xs-12.align-right
        -#   %img{:src => "/assets/30moneyback.png", :height => "100", :width => "100"}
        -# .col-xs-12
        -#   We are so sure you will love our Healios products that all product purchases are backed by our <strong>risk-free 30 day money-back guarantee.</strong> 
        -# .col-xs-12
        -#   %br
        -#     If you are not happy with the product please call us at 1-888-552-9769, option 5 for return authorization instructions. Upon receipt of the unused portion of your product we will initiate a refund.
    -#.row{:style => "padding:0px 10px 0px 10px"}
      -# .col-xs-4{:style => "text-align:left;color:#black;"}
      -#   <!-- (c) 2005, 2017. Authorize.Net is a registered trademark of CyberSource Corporation --> <div class="AuthorizeNetSeal"> <script type="text/javascript" language="javascript">var ANS_customer_id="f3a3f5ec-6515-4726-b4c6-c9aae7fb40ce";</script> <script type="text/javascript" language="javascript" src="//verify.authorize.net/anetseal/seal.js" ></script> <a href="http://www.authorize.net/" id="AuthorizeNetText" target="_blank">Merchant Services</a> </div>
      -#.col-xs-4
      -#   %h2
      -# .col-xs-4{:style => "text-align:right;color:#black;"}
    
    .row{:style => "padding:20px 20px 30px 20px;"}
      .col-xs-12.col-md-12{:style => "font-size: 16px;"}
        .row
          .col-xs-6
            = link_to image_tag('empower-logo.png', :width => "300"),'http://empowerbodycare.com/', target: '_blank'
          .col-xs-2.hidden-xs
          .col-xs-4
            = link_to image_tag('BioMauris-logo.png'),'http://www.biomauris.com', target: '_blank'
    .row
      .col-xs-12{:style => "text-align:center"}
        <strong>Powered by BioMauris</strong>

    .row{:style => "padding:20px 5px 20px 5px;"}
      .col-xs-12{:style => "text-align:center"}
        &copy; 2018 Empower White Label 


:CSS
  .whitelink {
    color:white;
   }
  a.whitelink:hover {
    color:white;
   }