.container{:style => "padding:0 0 0 0;"}
  #footer_bar{:style => "padding-bottom:30px;padding-left:15px;background-color:#1c1e4d;"}
    .row{:style => "padding:20px;"}
      .col-xs-12{:style => "text-align:right;color:#DCDCDC;"}
        Distributed by Symplmed Technologies
      .col-xs-12{:style => "test-align:left;color:#DCDCDC;"}
        <!-- (c) 2005, 2017. Authorize.Net is a registered trademark of CyberSource Corporation --> <div class="AuthorizeNetSeal"> <script type="text/javascript" language="javascript">var ANS_customer_id="f3a3f5ec-6515-4726-b4c6-c9aae7fb40ce";</script> <script type="text/javascript" language="javascript" src="//verify.authorize.net/anetseal/seal.js" ></script> <a href="http://www.authorize.net/" id="AuthorizeNetText" target="_blank">Merchant Services</a> </div>
          
    .row{:style => "padding:20px 20px 75px 20px;"}
      .col-xs-3.col-md-4.align-middle
        = image_tag('purcaplogo_70x23.png', :style => "margin-top:25px;")
      .col-xs-9.col-md-8{:style => "font-size: 16px;"}
        .row
          .col-xs-10{:style => "color:#DCDCDC;"}
            %small
              This is an ecommerce site operated by PuraCap Pharmaceutical LLC.  Offers subject to change or cancellation at any time.
              &copy; 2017 PuraCap Pharmaceutical LLC.
              All rights reserved. Eptex is a trademark of PuraCap Pharmaceutical LLC.
          .col-xs-2