.container{:style => "padding:0 0 0 0;"}
  #footer_bar{:style => "padding-bottom:30px;padding-left:15px;background-color:#1c1e4d;"}
    .row{:style => "padding:20px;"}
      .col-xs-12{:style => "text-align:right;color:#DCDCDC;"}
        %small
          Distributed by Symplmed Technologies
    .row{:style => "padding:20px 20px 75px 20px;"}
      .col-xs-4.col-md-4
        = image_tag('puracap_logo.png', :style => "max-height:100px")
      .col-xs-8.col-md-8{:style => "font-size: 16px;"}
        .row
          .col-xs-10{:style => "color:#DCDCDC;"}
            %small
              This is an ecommerce site operated by PuraCap Pharmaceutical LLC.  Offers subject to change or cancellation at any time.
              PuraCap Pharmaceutical LLC is not responsible for pricing or other errors. &copy; 2017 PuraCap Pharmaceutical LLC.
              All rights reserved. Eptex is a trademark of PuraCap Pharmaceutical LLC.
          .col-xs-2