.container
  .row{:style => "margin-top:20px;"}
    .col-md-12
      .col-md-4.col-xs-12
        %a{:href => "#"}
          = image_tag('PROCareE-KO.png', :width => '300', :height => '200', :style => "max-height:200px;")
      .col-md-4.col-xs-12
      .col-md-4.col-xs-12
        %a{:href => "http://www.epiceramlipcare.com"}
          = image_tag('EpiCeram-l-KO.png', :width => '300', :height => '200', :style => "max-height:200px;")
    .col-md-12.col-xs-12{:style => "margin:15px 0 15px 0;"}
      = image_tag('schematic-KO-TYPE.png', :style => "max-height:400px;border-radius:5px;")
