.container
  .row{:style => "margin-top:20px;"}

    .col-md-12
      = image_tag('puracap_logos2.png')

    .col-md-12.col-xs-12{:style => "margin:15px 0 15px 0;"}
      = image_tag('schematic-KO-TYPE.png', :style => "max-height:400px;border-radius:5px;")
