.row{:style => "background-color:#f5f4f2;margin:0 0 0 0;"}
  = render 'layouts/messages'

  .panel.panel-default{:style => "padding:5px 15px 15px 15px;margin-bottom:0;"}
    .panel-body

      .panel.panel-default
        .panel-body
          .row{:style => "margin-bottom:10px;margin-top:15px;"}
            .col-md-2.hidden-xs
            .col-md-8.col-xs-12
              %b
                What makes Eptex™ acne products different?
            .col-md-2.hidden-xs

          .row
            .col-md-2.hidden-xs
            .col-md-8.col-xs-12
              Eptex acne products feature a controlled-release Intelli-Target™ technology
              that delivers treatment where it’s needed and most effective, minimizing the
              side effects typically associated with acne treatments by delivering prove
              actives gradually over time.  This technology also maximizes the active
              material left behind to get you results as fast as possible.  In addition, each
              product contains MultiSal Neolipids™ -- - an advanced skin health complex that
              provides foundational lipids for skin barrier repair.
            .col-md-2.hidden-xs

          .row{:style => "margin-bottom:10px;margin-top:10px;"}
            .col-md-2.hidden-xs
            .col-md-8.col-xs-12
              %b
                How does Eptex Controlled Release Acne Wash work?
            .col-md-2.hidden-xs

          .row
            .col-md-2.hidden-xs
            .col-md-8.col-xs-12
              Eptex Acne Wash is a benzoyl peroxide wash that cleans your skin and
              provides benzoyl peroxide in a form that penetrates into the follicle and helps
              stop bacteria from growing and causing acne. It’s different from other benzoyl
              peroxide acne washes because it targets the source of acne-causing bacteria
              with a unique sub-micron encapsulation system, enabling 4.5% benzoyl
              peroxide to be delivered deep into the follicle where bacteria reside.
            .col-md-2.hidden-xs

          .row{:style => "margin-bottom:10px;margin-top:10px;"}
            .col-md-2.hidden-xs
            .col-md-8.col-xs-12
              %b
                How does Eptex Controlled Release Acne Relief Lotion work?
            .col-md-2.hidden-xs

          .row
            .col-md-2.hidden-xs
            .col-md-8.col-xs-12
              It works through exfoliation, which is the removal of the dead skin cells from
              the epidermis, the top layer of the skin. Exfoliation deeply cleanses the skin,
              dislodging buildup in the pores and helping to break up whiteheads. It also
              helps to smooth and refine the skin’s texture. Eptex Controlled Release Acne
              Relief Lotion contains essential lipids that help keep your skin’s natural barrier
              healthy, while its patented delivery system slowly releases these ingredients
              over time, making it appropriate even for sensitive skin.
            .col-md-2.hidden-xs

          .row{:style => "margin-bottom:10px;margin-top:10px;"}
            .col-md-2.hidden-xs
            .col-md-8.col-xs-12
              %b
                Can I use Eptex Acne Wash or Eptex Acne Lotion and wear makeup?
            .col-md-2.hidden-xs

          .row
            .col-md-2.hidden-xs
            .col-md-8.col-xs-12
              Using the wash or lotion should not hinder your ability to use makeup, but you
              should consult the ingredients of your makeup or consult a physician if you
              have specific concerns
            .col-md-2.hidden-xs

          .row{:style => "margin-bottom:10px;margin-top:10px;"}
            .col-md-2.hidden-xs
            .col-md-8.col-xs-12
              %b
                Can I also use a moisturizer or other skincare product?
            .col-md-2.hidden-xs

          .row
            .col-md-2.hidden-xs
            .col-md-8.col-xs-12
              You can use other skincare products with the Eptex products.
            .col-md-2.hidden-xs

          .row{:style => "margin-bottom:10px;margin-top:10px;"}
            .col-md-2.hidden-xs
            .col-md-8.col-xs-12
              %b
                Does the wash (lotion) have any side effects?
            .col-md-2.hidden-xs

          .row
            .col-md-2.hidden-xs
            .col-md-8.col-xs-12
              Each person’s skin is unique and may respond differently to various
              treatments. Eptex acne products are non-irritating and non-sensitizing, but
              please refer to the FDA labeling on each product for possible side effects.
            .col-md-2.hidden-xs

          .row{:style => "margin-bottom:10px;margin-top:10px;"}
            .col-md-2.hidden-xs
            .col-md-8.col-xs-12
              %b
                I am on a prescription acne medication.  Can I use the wash (or lotion)?
            .col-md-2.hidden-xs

          .row
            .col-md-2.hidden-xs
            .col-md-8.col-xs-12
              You should be able to use Eptex acne products while on a prescription acne
              medication but always consult your physician prior to starting any skincare
              regimen.
            .col-md-2.hidden-xs

          .row{:style => "margin-bottom:10px;margin-top:10px;"}
            .col-md-2.hidden-xs
            .col-md-8.col-xs-12
              %b
                Should I use these products together?  How?
            .col-md-2.hidden-xs

          .row
            .col-md-2.hidden-xs
            .col-md-8.col-xs-12
              Eptex acne products are a 2-part, complete approach designed to be used
              together.
              %br
              %br
              Wash with a unique 4.5% benzoyl peroxide -- -Eptex Acne Wash should be
              used to cleanse the skin and allow the Benzoyl Peroxide to get into pores. 
              How does it do this? The Intelli-Target Technology makes the benzoyl
              peroxide, which is normally a very large molecule that can only sit on top of the
              skin, very small, around 0.1 to 1.0 microns. Therefore, it can readily enter the
              follicle where it can eradicate the acne-causing bacteria at the source.
              %br
              %br
              Exfoliate with controlled-release salicylic acid-- - use Eptex Acne Relief Lotion
              to gently exfoliate your skin unblocking the pores while keeping it well hydrated and at a safe pH.
              Eptex Acne Relief Lotion also contains ingredients that effectively keep the skin moisturized, minimizing the most frequent complaint
              with salicylic acid products.
            .col-md-2.hidden-xs

          .row{:style => "margin-bottom:10px;margin-top:10px;"}
            .col-md-2.hidden-xs
            .col-md-8.col-xs-12
              %b
                Can I use these products separately?  Will they work as well separately or do I have to use both?
            .col-md-2.hidden-xs

          .row
            .col-md-2.hidden-xs
            .col-md-8.col-xs-12
              You can use the products together or separately.  The Eptex acne products
              were designed to work together to maximize results.
              How long will it take for me to see any results?  How long will it take to totally
              clear my
              Each person is different, but the longer you continue to use Eptex acne
              products the more visible your results will be. Give them a chance -- it can take
              4-6 weeks to improve acne, and consult your dermatologist if you have
              questions. 
            .col-md-2.hidden-xs

          .row{:style => "margin-bottom:10px;margin-top:10px;"}
            .col-md-2.hidden-xs
            .col-md-8.col-xs-12
              %b
                What types of acne does the wash (or lotion) treat?
            .col-md-2.hidden-xs

          .row
            .col-md-2.hidden-xs
            .col-md-8.col-xs-12
              The Eptex acne products are intended to treat Acne Vulgaris,
              the Propionibacterium acnes (P. acnes) bacteria associated with acne, in both
              teens and adults.
            .col-md-2.hidden-xs

          .row{:style => "margin-bottom:10px;margin-top:10px;"}
            .col-md-2.hidden-xs
            .col-md-8.col-xs-12
              %b
                Is the wash or lotion tested on animals?
            .col-md-2.hidden-xs

          .row
            .col-md-2.hidden-xs
            .col-md-8.col-xs-12
              No, the Eptex products are never tested on animals.
            .col-md-2.hidden-xs

          .row{:style => "margin-bottom:10px;margin-top:10px;"}
            .col-md-2.hidden-xs
            .col-md-8.col-xs-12
              %b
                Are the Eptex Acne Wash and Eptex Acne Lotion noncomedogenic?
            .col-md-2.hidden-xs

          .row
            .col-md-2.hidden-xs
            .col-md-8.col-xs-12
              Comedogenic ingredients were avoided when formulating these products but
              every consumer may have different levels of sensitivity and reaction.  Always
              discuss with your dermatologist if you have concerns.
            .col-md-2.hidden-xs

          .row{:style => "margin-bottom:10px;margin-top:10px;"}
            .col-md-2.hidden-xs
            .col-md-8.col-xs-12
              %b
                Are Eptex Acne Wash and Eptex Acne Lotion fragrance-free?
            .col-md-2.hidden-xs

          .row
            .col-md-2.hidden-xs
            .col-md-8.col-xs-12
              Yes, Eptex acne products are fragrance-free.
            .col-md-2.hidden-xs

          .row{:style => "margin-bottom:10px;margin-top:10px;"}
            .col-md-2.hidden-xs
            .col-md-8.col-xs-12
              %b
                Can Eptex Acne Wash and lotion be used on my body?
            .col-md-2.hidden-xs

          .row
            .col-md-2.hidden-xs
            .col-md-8.col-xs-12
              Yes, Eptex acne products can be used for face, chest, shoulders and back
              acne. However, you should avoid contact with the eyes, lips, and mouth.
            .col-md-2.hidden-xs

          .row{:style => "margin-bottom:10px;margin-top:10px;"}
            .col-md-2.hidden-xs
            .col-md-8.col-xs-12
              %b
                Are Eptex Acne Wash and Lotion safe for women who are pregnant or nursing?
            .col-md-2.hidden-xs

          .row
            .col-md-2.hidden-xs
            .col-md-8.col-xs-12
              As with any medication, if you are pregnant or nursing a baby seek the advice
              of a healthcare professional before using these medications.
            .col-md-2.hidden-xs

          .row{:style => "margin-bottom:10px;margin-top:10px;"}
            .col-md-2.hidden-xs
            .col-md-8.col-xs-12
              %b
                If I have eczema and acne, can I use Eptex Acne Wash and Eptex Acne Lotion?
            .col-md-2.hidden-xs

          .row
            .col-md-2.hidden-xs
            .col-md-8.col-xs-12
              The Eptex acne products were designed for use by patients with sensitive
              skin, but you should always discuss with your doctor if you have concerns.
            .col-md-2.hidden-xs

          .row{:style => "margin-bottom:10px;margin-top:10px;"}
            .col-md-2.hidden-xs
            .col-md-8.col-xs-12
              %b
                How long will the Eptex Acne Wash bottle last? How long will the Eptex Acne Lotion bottle last?
            .col-md-2.hidden-xs

          .row
            .col-md-2.hidden-xs
            .col-md-8.col-xs-12
              Quantity used varies by condition, but typical use is 30 days per bottle for
              Eptex Wash and 45 days per bottle for Eptex Acne Relief Lotion.
            .col-md-2.hidden-xs

          .row{:style => "margin-bottom:10px;margin-top:10px;"}
            .col-md-2.hidden-xs
            .col-md-8.col-xs-12
              %b
                Where can I get Eptex Acne Products?
            .col-md-2.hidden-xs

          .row
            .col-md-2.hidden-xs
            .col-md-8.col-xs-12
              Eptex acne products can be purchased exclusively though participating
              dermatologists or you can order them online by visiting
              www.eptexskincare.com.
            .col-md-2.hidden-xs


:css
  .modal {overflow-y: auto;}
  .modal-open {padding-right: 0 !important;}