%section.wrapper
  %header.cf
    -#%img{:alt => "puracap logo", :src => "assets/dyrctaxess-logo.png"}/
    .ribbon
      %p
        Hypertension patients visit the doctor less than once a year. bp
        %span.careconnect CareConnect
        increases patient interaction with virtual symptom monitoring.
  %section.content
    %h1
      %span.bp> bp
      CareConnect — a solution for patients with hypertension
    %h2 The first and only patient membership program that caps medication costs, provides monitoring devices, offers online tracking tools and ships directly to the patient.
    %h2
      %span.bp> bp
      CareConnect provides an easy, secure prescribing portal for your prescriptions, or you can simply fax, email or phone your Rx:
      .contact-block
        %p Fax: 866-843-6892
        %p
          Email:
          %a{:href => "mailto:info@puracap.com"} info@puracap.com
        %aside.contact-us.opened
          %span.flag
          %h2.center
            Call Center
            %br/
            %span 866-731-8096
          %a{:href => "/mailings/new"}

            %button Contact us
    %section#accordions
      / Physicians Accordion
      %h3.physicians-header
        Physicians: Why bp
        %span.careConnect> CareConnect
        ?
        %ul
          %li No cost to physicians
          %li 30 day free trial for all patients
          %li Fax, call, email or use our free app to submit prescriptions
          %li All medication classes for the treatment of hypertension
          %li No pharmacy call backs
        %span.register
          %a{:href => "/physicians/physicians/sign_up"} REGISTER NOW!!!

        %span.caret »
      %div
        %h4
          What is bp
          %span.careConnect> CareConnect
          ?
        %ul
          %li A web based tool which allows you to securely submit patient Rx via web, phone, fax or email. The patients' medications are then shipped directly to their home, along with a blood pressure monitor for their personal use.
          %li
            %span.bp> bp
            CareConnect offers your patients a 30 day, free trial period, to help with therapy initiation.
          %li For a low monthly fee ranging from $9.95/month to $19.95/month patients receive up to 4 medications delivered directly to their home, monitoring devices, pharmacy and call center support and online tracking tools to share progress with physicians.
          %li Physicians have visibility into patients compliance and treatment progress.
        %img{:alt => "Why bpCareConnect", :src => "assets/why-dyrctaxess-chart.png"}/
        %p
          %span.bp> bp
          CareConnect offers patients direct distribution of all classes of medications commonly used to treat hypertension. All medications are shipped directly to patients, and patients are provided free home monitoring devices.
          = succeed "CareConnect" do
            %span.bp bp
        %h4
          How does bp
          %span.careConnect CareConnect
          work?
        %p For one low, fixed monthly membership fee patients receive up to 4 medications and:
        %ul
          %li FREE home delivery
          %li FREE blood pressure monitor
          %li FREE online tracking tools
          %li FREE access to their healthcare data
          %li FREE reimbursement & claims support (if applicable)
        %p All for less than a typical co-pay.
        %img{:alt => "Fees chart", :src => "assets/fees-chart.png"}/
        %h4.first-free And First Month FREE
        %p.center
          %em Helping Physicians and Patients achieve blood pressure goals.
      / Patients Accordion
      %h3.patients-header
        For Patients: Why bp
        %span.careConnect> CareConnect
        ?
        %ul
          %li Free 30 day trial period
          %li Free home delivery with monitoring device included
          %li Live pharmacy and nurse access
          %li Share progress with Physician
          %li Never pay more than $19.95 for up to 4 meds
        %span.enroll
          %a{:href => "/patients/patients/sign_in"} ENROLL NOW!!!
        %span.caret »
      %div
        %h4
          What is bp
          %span.careConnect> CareConnect
          ?
        %p One low fixed monthly cost allows you access to an online tool to manage your medications,  direct home delivery without paperwork hassles, free devices to monitor treatment progress, and the ability to communicate results to your physician.  With bpCareConnect, eliminate pharmacy visits,  lower your out of pocket expense and take control of your health information.
        %h4
          How does bp
          %span.careConnect CareConnect
          work?
        %p For one low, fixed month fee, you receive up to 4 medications selected by your provider; additionally patients receive:
        %ul
          %li
            Free monitoring devices
          %li Online tracking tools
          %li
            Secure, personal portal to manage medications and track progress
          %li Free home delivery
          %li Free access to pharmacists and nurses
        %p All of this with no copays – no paperwork hassles and no trips to the pharmacy.
        %h4 Who is eligible?
        %p
          If your provider prescribes you any of the following commonly used types of medications, then you are eligible:
        %ul
          %li ACEi: (e.g. lisinopril)
          %li Beta Blocker (e.g. atenolol)
          %li Calcium Channel Blocker (e.g. amlodipine)
          %li Angiotensin Receptor Blocker (e.g. valsartan)
          %li Diuretic (e.g. hydrochlorothiazide)
        %h4 What will it cost?
        %p You will receive all the benefits of membership for less than many typical co-pays.
        %img{:alt => "Fees chart", :src => "assets/fees-chart.png"}/
        %h4.first-free and First Month FREE
        %h4 What if I have insurance?
        %p
          %strong> bp
          CareConnect accepts HSA cards and can also provide you with receipts to submit to your insurance plan.
        .testimonial.cf
          %p
            %em
              “I received my medication quickly at my door, at a cost comparable to traveling to the pharmacy but with
              = succeed "CareConnect" do
                %strong bp
          %p
            %em - Atlanta, GA patient
        %h5
          Talk to your Provider and
          %a{:href => "/patients/patients/sign_in"} enroll today!
  %footer.cf
    %p.copyright Powered by DyrctAxess technology
    %a{:href => "http://www.symplmed.com", :target => "_blank"}
      %img.symplmed-logo{:alt => "Symplmed Logo", :src => "assets/symplmed-logo.png"}/