#header_bar.row.hidden-xs.hidden-sm.visible-md.visible-lg

  .row
    .col-md-3

    #top_menu.col-md-6
      %ul.nav.nav-pills{:style => "text-align: center;"}

        %li
          %a{:href => physicians_orders_path, :id => "order"}
            Order

        %li
          %a{:href => physicians_orderhistories_path, :id => "order-history"}
            Order History

        %li
          %a{:href => edit_physicians_physician_path(current_physicians_physician), :id => "settings"}
            Account Settings

        %li
          = link_to destroy_physicians_physician_session_path, :method => "delete" do
            Logout

    .col-md-3

  .row
    .col-md-12
      = image_tag('puracap_logos2.png')
