.container{:style => "padding:0 0 0 0;"}
  #drop_shadow
  #footer_bar{:style => "padding-bottom:30px;padding-left:15px;background-color:white;"}
    .row
      .col-xs-8.col-md-8{:style => "font-size: 16px;"}
        .row
          .col-xs-12
            Call Center: 888-552-9769
            %br
            Hours: Monday-Friday  9:00 AM  - 8:00 PM EST
        .row
          .col-xs-12
            Fax: 541-647-1676
        .row
          .col-xs-12
            %a{:href => "mailto:order@empower.com"} Email:order@empower.com
        .row
          .col-xs-12
            
      .col-xs-4.col-md-4
        = image_tag('empowerlogo.jpg', :style => "max-height:100px")

    .row
      .col-xs-12
        %p{:style => "font-size: 14px;color: #595959;margin-top: 20px;font-weight: bold;margin-bottom: 20px;"}
          Powered by
          %span{:style => "color:black;"}
            %a{:href => "http://www.biomauris.com/", target: '_blank'}
              DyrctAxess
              %sup ™
          technology

    .row
      .col-xs-12{:style => "color:black"}
        &copy;2016 empower. All rights reserved.



:css
  .rx-image:hover {
      outline: LightGray solid 1px;
  }