.container{:style => "padding:0 0 0 0;"}
  .col-xs-12
    .col-xs-12.col-md-6.col-md-offset-3
      #drop_shadow.col-xs-12.col-md-6.col-md-offset-3
      #footer_bar{:style => "padding-bottom:30px;padding-left:15px;background-color:black;"}
        .row
          .col-xs-8.col-md-8
            .row
              .col-xs-12
                %bold
                  Call Center:
                %small
                  888-552-9769 Opt #1
                %br
                  Hours: Monday-Friday  8:00 AM  - 5:00 PM PST
                %br

                %small
                  Fax: 541-647-1676
                %br
                %small
                  Email:order@empower.com
                %br

            .row
              .col-xs-12
                %p{:style => "font-size: 14px;color: #595959;margin-top: 20px;font-weight: bold;margin-bottom: 20px;"}
                  Powered by
                  %span{:style => "color: #0092dd;"}
                    %a{:href => "http://www.biomauris.com/", target: '_blank'}
                      DyrctAxess
                      %sup ™
                  technology
            .row
              .col-xs-12
                %small
                  &copy;1999 empower

          .col-xs-4.col-md-4
            = image_tag('empowerlogo.jpg', :style => "max-height:100px")

%script{:type => "text/javascript", :src  => "/assets/boldchat.js"}