.container
  .row{:style => "margin:0;"}
    .col-md-12{:style => "padding:15px;"}
      .col-md-10
        %h2{:style => "color:white;"}
          Welcome to the SkinCareMarketplace  
      .col-md-2
        %a{:href => "https://www.facebook.com/eptex/", :target => "_blank"}
          = image_tag('facebook_30x30white.png', :style => "vertical-align:middle;display:inline-block;")

        %a{:href => "mailto:skincare@puracappharma.com", :target => "_blank"}
          = image_tag('mail_30x30white.png', :style => "vertical-align:middle;display:inline-block;")
         

.container{:style => "margin:0;padding:0;background-color:white;"}
  = render 'layouts/patients_external/menu_bar'

:CSS
  .whitelink {
    color:white;
   }
  a.whitelink:hover {
    color:white;
   }