.container
  .row{:style => "background-color:#1c1e4d"}
    .col-md-12{:style => "padding:15px;"}
      .col-md-10
        %h4{:style => "color:white;"}
          Welcome
          =link_to 'FAQ', {:controller => 'faq', :action => 'index'}, :class => "whitelink"
      .col-md-2
        %a{:href => "https://www.facebook.com/eptex/", :target => "_blank"}
          = image_tag('facebook_30x30white.png', :style => "vertical-align:middle;display:inline-block;")

        %a{:href => "mailto:skincare@puracappharma.com", :target => "_blank"}
          = image_tag('mail_30x30white.png', :style => "vertical-align:middle;display:inline-block;")

.container{:style => "margin:0;padding:0;background-color:white;"}
  = render 'layouts/patients_external/menu_bar'

:CSS
  .whitelink {
    color:white;
    font-size: 48px;
   }
  a.whitelink:hover {
    color:white;
   }