

.row.visible-xs.visible-sm.hidden-md.hidden-lg{:style => "background-color:white;padding:5px,30px,30px,30px;"}
  .col-xs-6
    %h2{:style => "padding:15px;color:black;"}
      Thank you for your interest in Healios Products!
      %br
        Healios is available in Orange and Grape flavors, so choose the flavor you would like below.

  #mobile_nav_bar.col-xs-6{:style => "padding:2px;"}
    %ul.nav.nav-pills.navbar-right{:style => "text-align:right;padding-right:20px;padding-top:4px;padding-left:20px;"}  
      %li
        %a{:href => "/patients/cart", :id => "cart-mobile", :class => "button-hover"}
          Cart
          = (@cart_size.to_i > 0 )?'(' + @cart_size.to_s + ')':''


:CSS

  #mobile_nav_bar .nav-pills > li > a.button-hover{
      color:white;
      background-color:#ffc81f;
      font-weight:bold;
      font-size:2em;
    }
  #mobile_nav_bar .nav-pills > li > a.button-hover:hover{
    color:#333333;
  }
  
