#header_bar.row.hidden-xs.hidden-sm.visible-md.visible-lg{:style => "background-color:white;margin:0;padding:30px,30px,30px,30px;"}
  .col-xs-6
    .col-xs-12{:style => "color:#000000;"}
      <strong>Certificates of Analyses available upon request.</strong>
    .col-xs-12
      = image_tag('EmpowerBodyCareIcons.png', :width => "400", :style => "padding:5px 0px 5px 0px;vertical-align:middle;display:inline-block;") 
  
    
  #mobile_nav_bar.col-xs-6{:style => "padding:2px;"}
    %ul.nav.nav-pills.navbar-right{:style => "padding-right:20px;padding-top:4px;padding-left:20px;"}
        

      %li
        %a{:href => "/shop/products", :id => "products-mobile", :class => "button-hover"}
          Products 
      %li
        %a{:href => "/shop/cart", :id => "cart-mobile", :class => "button-hover"}
          Cart
          = (@cart_size.to_i > 0 )?'(' + @cart_size.to_s + ')':''



:CSS

   #mobile_nav_bar .nav-pills > li > a.button-hover{
       color:#5b5b5b;
       background-color:#c7ccd0;
       border-color:#c7ccd0;
       border-width:thin;
       font-weight:bold;
     }
   #mobile_nav_bar .nav-pills > li > a.button-hover:hover{
     color:#333333;
   }  