#header_bar.row.hidden-xs.hidden-sm.visible-md.visible-lg{:style => "background-color:white;margin:0;padding:5px,30px,30px,30px;"}
  .col-xs-6{:style => "color:#0e70b9;font-size:1.5em;"}
    On a mission to improve the oral and digestive health for patients going through cancer treatment.
    
  #mobile_nav_bar.col-xs-6{:style => "padding:2px;"}
    %ul.nav.nav-pills.navbar-right{:style => "padding-right:20px;padding-top:4px;padding-left:20px;"}
        
      %li
        %a{:href => "/patients/products", :id => "products-mobile", :class => "button-hover"}
          Products 
      %li
        %a{:href => "/patients/cart", :id => "cart-mobile", :class => "button-hover"}
          Cart
          = (@cart_size.to_i > 0 )?'(' + @cart_size.to_s + ')':''



:CSS

   #mobile_nav_bar .nav-pills > li > a.button-hover{
       color:white;
       background-color:#ffc81f;
       font-weight:bold;
     }
   #mobile_nav_bar .nav-pills > li > a.button-hover:hover{
     color:#333333;
   }  