#header_bar.row.hidden-xs.hidden-sm.visible-md.visible-lg{:style => "background-color:white;margin:0;padding:0;"}
  .col-xs-6
    %h2{:style => "color:black;"}
      Thank you for your interest in Glutrosol Products!

      %li
        %a{:href => "/patients/cart", :id => "cart-mobile", :class => "button-hover"}
          Cart
          = (@cart_size.to_i > 0 )?'(' + @cart_size.to_s + ')':''



:CSS

   #mobile_nav_bar .nav-pills > li > a.button-hover{
       color:white;
       background-color:#ffc81f;
       font-weight:bold;
     }
   #mobile_nav_bar .nav-pills > li > a.button-hover:hover{
     color:#333333;
   }