#header_bar.row.hidden-xs.hidden-sm.visible-md.visible-lg{:style => "background-color:#1c1e4d;margin:0;padding:0;"}

  #mobile_nav_bar.col-xs-12
    %ul.nav.nav-pills.navbar-right
      %li
        %a{:href => "/patients/products", :id => "products-mobile", :style => "color:white;background-color:#c7a900;font-weight:bold;"}
          Products

      %li
        %a{:href => "/patients/cart", :id => "cart-mobile", :style => "color:white;background-color:#c7a900;font-weight:bold;"}
          Cart


