

.row.visible-xs.visible-sm.hidden-md.hidden-lg{:style => "background-color:white;padding:10;"}
  .col-xs-6
    %h2{:style => "color:darkslateblue;"}
      Free Shipping Friday on orders today ONLY
  #mobile_nav_bar.col-xs-6{:style => "padding:2px;"}
    %ul.nav.nav-pills.navbar-right{:style => "padding-right:20px;padding-top:4px;padding-left:20px;"}
      %li
        Free Shipping FRIDAY, on all orders completed today
        
      %li
        %a{:href => "/patients/products", :id => "products-mobile", :class => "button-hover"}
          Products

      %li
        %a{:href => "/patients/cart", :id => "cart-mobile", :class => "button-hover"}
          Cart
          = (@cart_size.to_i > 0 )?'(' + @cart_size.to_s + ')':''


:CSS

  #mobile_nav_bar .nav-pills > li > a.button-hover{
      color:white;
      background-color:#c7a900;
      font-weight:bold;
      font-size:2em;
    }
  #mobile_nav_bar .nav-pills > li > a.button-hover:hover{
    color:#333333;
  }
  
