.row{:style => "background-color:#f5f4f2;margin:0 0 0 0;"}
  .col-xs-12{:style => "background-color: rgba(194, 43, 36, 0.6);margin:0 15 0 15;"}
    .col-xs-12.col-sm-8{:style => "padding: 0 0 0 0;"}
      #page_title{:style => "background-color: #c22b24;"}
        %h5{:style => "color:white; line-height: 45px;margin:0 0 0 0;"} Mobile Application End User License Agreement
    .col-sm-4.hidden-xs


.panel.panel-default
  .panel-body
    %p
      This Mobile Application End User License Agreement ("Agreement") is a binding agreement between you ("End User" or "you") and  ("Symplmed Pharmaceuticals LLC"). This Agreement governs your use of  DyrctAxess on the smartphone, tablet or other mobile device, (including all related documentation, the "Application"). The Application is licensed, not sold, to you.
    %p
      BY CLICKING THE "AGREE" BUTTON, YOU (A) ACKNOWLEDGE THAT YOU HAVE READ AND UNDERSTAND THIS AGREEMENT; (B) REPRESENT THAT YOU ARE a licensed physician (C) ACCEPT THIS AGREEMENT AND AGREE THAT YOU ARE LEGALLY BOUND BY ITS TERMS. IF YOU DO NOT AGREE TO THESE TERMS, DO NOT DOWNLOAD OR USE THE APPLICATION AND DELETE IT FROM YOUR MOBILE DEVICE.

    %ol
      %li
        License Grant. Subject to the terms of this Agreement, Company grants you a limited, non-exclusive and nontransferable license to download, install and use the Application for your personal, non-commercial use on a smartphone, tablet or other mobile device owned or otherwise controlled by you ("Mobile Device") strictly in accordance with the Application's documentation.
      %li
        License Restrictions. Licensee shall not:
      %li
        Reservation of Rights. You acknowledge and agree that the Application is provided under license and not sold to you. You do not acquire any ownership interest in the Application under this Agreement, or any other rights there to other than to use the Application in accordance with the license granted, and subject to all terms, conditions and restrictions, under this Agreement. Company and its licensors and service providers reserve and shall retain their entire right, title and interest in and to the Application, including all copyrights, trademarks and other intellectual property rights therein or relating thereto, except as expressly granted to you in this Agreement.

