
.panel.panel-default
  .panel-heading
    %h4
      <b>Online Invoice Terms and Conditions</b>
  .panel-body
    .row
      .col-xs-12
        This Agreement ("Agreement") is a binding agreement between you ("End User" or "You) and ("Symplmed Technologies and PuraCap Pharmaceutical LLC"). This agreement governs your use of Symplmed technologies programs, applications and systems.
    .row
      .col-xs-12
        BY CLICKING THE "I accept the terms and conditions above" BOX AND TYPING YOUR NAME, OR CONFIRMING WITH OUR CUSTOMER SERVICE AGENT, YOU
    .row
      .col-xs-12
        (A) ACKNOWLEDGE THAT YOU HAVE READ AND UNDERSTAND THIS AGREEMENT;
    .row
      .col-xs-12
        (B) REPRESENT THAT YOU ARE a licensed prescriber;
    .row
      .col-xs-12
        (C) ACCEPT THIS AGREEMENT AND AGREE THAT YOU ARE LEGALLY BOUND BY ITS TERMS.
    .row
      .col-xs-12
        IF YOU DO NOT AGREE TO THESE TERMS, DO NOT CONFIRM VIA OUR CUSTOMER SERVICE AGENTS OR THROUGH OUR ONLINE INVOICE PROCESS DO NOT ACKNOWLEDGE THE TERMS ABOVE.
    .row
      .col-xs-12
        By confirming your participation in Symplmed Technologies programs you acknowledging your understanding of our privacy and product delivery business.
    .row
      .col-xs-12{:style => 'padding-left:40px;padding-right:40px;'}
        .row
          .col-xs-12
            <b>PURCHASING AGREEMENT</b>
        .row
          .col-xs-12
            This Agreement is by and between PuraCap Pharmaceutical, LLC, a New Jersey limited liability company (“PuraCap”) and You (“Purchaser”).
        .row
          .col-xs-12
            <b>RECITALS</b>
        .row
          .col-xs-12
            A.	WHEREAS PuraCap develops, manufactures and supplies pharmaceutical products and services to the healthcare industry worldwide;
        .row
          .col-xs-12
            B.	WHEREAS purchaser is you
        .row
          .col-xs-12
            C.	WHEREAS the Parties desire to enter into this Agreement;
        .row
          .col-xs-12
            1. <b>AGREEMENT</b>.  This Agreement is entered into between PuraCap Pharmaceutical LLC (“PuraCap”), and the party described as the purchaser (“You”). This Agreement governs any Purchase Order as offer to buy the goods and/ or services described herein and becomes a binding contract on the terms and conditions when accepted by the purchaser either by acknowledgement or by shipment or other commencement of work. NO REVISIONS, CHANGES, ADDITIONS OR MODIFICATIONS OF THIS AGREEMENT INCLUDING PURCHASER’S TERMS AND CONDITIONS OF SALE OR ALTERATIONS TO A PURCHASE ORDER, SHALL BE VALID UNLESS IN WRITING AND SIGNED BY AN AUTHORIZED RESENTATIVE OF PURACAP.
        .row
          .col-xs-12
            2. <b>PURCHASE AND PAYMENT</b>. Purchaser will pay the price for Products stated on the Invoice. Payment is made when Purchaser’s credit card is processed and accepted. Order quantities are subject to PuraCap approval. These products are directly distributed to the prescriber and can only be sold by a prescriber or prescriber’s office staff in office to end-users of these products.. Any units purchased CANNOT be resold on the internet, or in any retail outlet, or otherwise.. The exception to this term is the prescriber selling direct to the patient via their own professional website.
        .row
          .col-xs-12
            3. <b>TAXES</b>.  Any applicable sales taxes will be the responsibility of the purchaser and will appear on the invoice.
        .row
          .col-xs-12
            4. <b>DELIVERY</b>.  Delivery of Goods and Services shall be made pursuant to the schedule, via the carrier, and to the place specified on the face of the applicable invoice. Purchaser shall pay the cost of shipping unless otherwise stated on invoice. Shipping will be by standard ground delivery in approximately 4-10 days. PuraCap shall promptly notify Purchaser of any delays or threatened delays of their order. In AK and HI higher shipping costs will apply be since it is out of the continental US.
        .row
          .col-xs-12
            5. <b>CANCELLED ORDERS</b>.  Purchaser may cancel an order without further obligation by notifying Symplmed in writing via email or contacting the call center to request the cancellation within 24 hours of the order being placed.
        .row
          .col-xs-12
            6. <b>REFUND AND RETURN POLICY</b>. Only unopened product will be accepted for return. Purchaser will receive no refund for the product if it is opened in any way. Any returns will not be accepted before 90 days from purchase date and after 180 days from purchase. Return must be processed during this time to receive any refund. The Symplmed call center must be contacted to request the return and if return is accepted be sent to PuraCap directly at 1001 Durham Ave. South Plainfield, NJ 07080 Attn: Returns Dept. via standard ground and insured. Purchaser bears the responsibility for all return postage, shipping and handling costs. PuraCap will not accept any returns directly from a patient.
        .row
          .col-xs-12
            7. <b>GOVERNING LAW</b>.  This Agreement is governed by the laws of the State of New Jersey. Any legal proceedings arising under or relating to this Agreement shall be commenced exclusively in the state or federal courts sitting in the State of New Jersey.
    .row
      .col-xs-12
        BY CLICKING THE "I accept the terms and conditions above" BOX AND TYPING YOUR NAME, OR CONFIRMING WITH OUR CUSTOMER SERVICE AGENT, YOU
    .row
      .col-xs-12
        (A) ACKNOWLEDGE THAT YOU HAVE READ AND UNDERSTAND THIS AGREEMENT;
    .row
      .col-xs-12
        (B) REPRESENT THAT YOU ARE a licensed prescriber;
    .row
      .col-xs-12
        (C) ACCEPT THIS AGREEMENT AND AGREE THAT YOU ARE LEGALLY BOUND BY ITS TERMS

