.row{:style => "background-color:#f5f4f2;margin:0 0 0 0;"}
  .col-xs-12{:style => "background-color: rgba(194, 43, 36, 0.6);margin:0 15 0 15;"}
    .col-xs-12.col-sm-4{:style => "padding: 0 0 0 0;"}
      #page_title{:style => "background-color: #c22b24;"}
        %h5{:style => "color:white; line-height: 45px;margin:0 0 0 0;"} Privacy Policy
    .col-sm-8.hidden-xs


.panel.panel-default
  .panel-body
    This Website Privacy Statement explains how Symplmed Pharmaceuticals , including its wholly owned subsidiaries and successors (together referred to as "Symplmed"), handles the information that you provide to Symplmed, or that is otherwise collected, on websites controlled by Symplmed Pharmaceuticals (together referred to as "Symplmed Pharmaceuticals Website(s)"). The privacy practices of Symplmed Pharmaceuticals Websites generally conform to the Symplmed Pharmaceuticals Privacy Statement. Please read this Website Privacy Statement and the Symplmed Pharmaceuticals Privacy Statement before using Symplmed Pharmaceuticals websites or submitting information to Symplmed. Collection and processing of personally identifiable information, however, may vary with the unique features of each site. Therefore, where applicable, you are encouraged to review the terms of the individual privacy statement that is tailored to the specific Symplmed Pharmaceuticals website you are visiting. By accessing and using the Symplmed Pharmaceuticals website(s), you agree and consent to the collection, use and disclosure of your Personal Information (information that can identify you) as outlined in this Website Privacy Statement.Unless otherwise specifically noted, this Website Privacy Statement does not apply to information collected from you offline, or to third-party websites to which Symplmed Pharmaceuticals websites may link. You are encouraged to review the terms of the individual privacy policies of each website you visit.

.panel.panel-default

  .panel-heading
    %h4.panel-title
      How does Symplmed Pharmaceuticals collect information Online?
      
  .panel-body
    %p
      Symplmed Pharmaceuticals collects information in two ways:
    
    .panel.panel-default
      .panel-heading
        Personal Information You Submit:
      .panel-body
        Symplmed Pharmaceuticals collects Personal Information that you enter into data fields on Symplmed Pharmaceuticals Websites. For example, you may submit your name, postal address, e-mail address, telephone number, and/or other information in order to receive information about various subjects, register for Symplmed Pharmaceuticals programs, contact Symplmed Pharmaceuticals customer service, or respond to Symplmed Pharmaceuticals surveys. To protect your privacy, you should not provide Symplmed Pharmaceuticals with any information that is not specifically requested.   
  
    .panel.panel-default
      .panel-heading
        Passive Collection of Unidentifiable Information:
      .panel-body
        Symplmed Pharmaceuticals Websites may collect information about your visits to Symplmed Pharmaceuticals Websites without you actively submitting such information. Unidentifiable information may be collected using various technologies, such as cookies and web beacons. Cookies are small text files that are transferred to your computer's hard disk by a website. Web beacons (also referred to as GIF files, pixels, or Internet tags) help Symplmed Pharmaceuticals recognize a unique cookie on your browser. Your Internet browser automatically transmits to Symplmed Pharmaceuticals Websites some of this unidentifiable information, such as the URL of the website you just visited and the browser version your computer is operating. Passive information collection technologies can make your use of Symplmed Pharmaceuticals Websites easier by allowing Symplmed Pharmaceuticals to provide better service, customize Symplmed Pharmaceuticals Websites based on consumer preferences, compile statistics, analyze trends, and otherwise administer and improve Symplmed Pharmaceuticals Websites. Certain features of Symplmed Pharmaceuticals Websites may not work without use of passive information collection technologies. Information collected by these technologies cannot be used to identify you without additional identifiable information and Symplmed Pharmaceuticals will not match additional identifiable information with information collected through the use of such tracking technologies. With respect to limiting or disabling tracking technology please see section below entitled, "What choices do I have about how Symplmed Pharmaceuticals Websites collect and use Personal Information about me?" Some of Symplmed’s business partners with whom Symplmed Pharmaceuticals contracts to carry out business activities (e.g., website providers) may use its cookies on Symplmed Pharmaceuticals websites. Although, Symplmed Pharmaceuticals may not have direct access to or control over such cookies, this Website Privacy Statement governs the use of cookies by Symplmed Pharmaceuticals and such business partners on Symplmed Pharmaceuticals Websites.
      
.panel.panel-default

  .panel-heading
    %h4.panel-title
      In what circumstances and for what purposes might Symplmed Pharmaceuticals collect and use Personal information through Symplmed Pharmaceuticals Websites? 
      
  .panel-body
    Symplmed Pharmaceuticals will use the Personal Information you provide through Symplmed Pharmaceuticals Websites to respond to your questions and to provide you with efficient customer service. After you have entered Personal Information into a form or data field on a Symplmed Pharmaceuticals Website, Symplmed Pharmaceuticals may use certain identifying technologies to allow that Symplmed Pharmaceuticals Website to "remember" your personal preferences, such as sections of that Symplmed Pharmaceuticals Website that you visit frequently and, if you choose, your user ID. Symplmed Pharmaceuticals will only use your Personal Information to respond to your requests and for other business purposes, such as to offer you the opportunity to receive notices or information regarding Symplmed's products or services, to invite you to participate in surveys about Symplmed's products or services, or to notify you about special events that may be of interest to you, if you provided Symplmed Pharmaceuticals with your prior consent (opt-in) for such purposes. Symplmed Pharmaceuticals may send you service-related announcements on rare occasions when it is necessary to do so. For instance, if a Symplmed Pharmaceuticals service is temporarily suspended for maintenance, Symplmed Pharmaceuticals might send you an email notification. Generally, you may not opt-out of these non-promotional communications, but you have the option to deactivate your account. If you choose to use Symplmed's email page feature to receive email alerts, Symplmed Pharmaceuticals will send you an email to validate your registration and confirm that you are signing up to receive such emails. You may contact Symplmed Pharmaceuticals to request that Symplmed Pharmaceuticals remove your information from Symplmed's database. If you chose to use Symplmed's email page feature to send a link to a Symplmed Pharmaceuticals page, Symplmed Pharmaceuticals will ask you for the recipient's email address. Symplmed Pharmaceuticals will automatically send the recipient a one-time email inviting him or her to read the featured page. This information is used only for the delivery of this specific email message, and is not stored or used for any other purpose.  
    
.panel.panel-default

  .panel-heading
    %h4.panel-title
      What choices do I have about how Symplmed Pharmaceuticals Websites collect and use Personal information about me?  
      
  .panel-body
    Symplmed Pharmaceuticals will use the Personal Information you provide through Symplmed Pharmaceuticals Websites to respond to your questions and to provide you with efficient customer service. After you have entered Personal Information into a form or data field on a Symplmed Pharmaceuticals Website, Symplmed Pharmaceuticals may use certain identifying technologies to allow that Symplmed Pharmaceuticals Website to "remember" your personal preferences, such as sections of that Symplmed Pharmaceuticals Website that you visit frequently and, if you choose, your user ID. Symplmed Pharmaceuticals will only use your Personal Information to respond to your requests and for other business purposes, such as to offer you the opportunity to receive notices or information regarding Symplmed's products or services, to invite you to participate in surveys about Symplmed's products or services, or to notify you about special events that may be of interest to you, if you provided Symplmed Pharmaceuticals with your prior consent (opt-in) for such purposes. Symplmed Pharmaceuticals may send you service-related announcements on rare occasions when it is necessary to do so. For instance, if a Symplmed Pharmaceuticals service is temporarily suspended for maintenance, Symplmed Pharmaceuticals might send you an email notification. Generally, you may not opt-out of these non-promotional communications, but you have the option to deactivate your account. If you choose to use Symplmed's email page feature to receive email alerts, Symplmed Pharmaceuticals will send you an email to validate your registration and confirm that you are signing up to receive such emails. You may contact Symplmed Pharmaceuticals to request that Symplmed Pharmaceuticals remove your information from Symplmed's database. If you chose to use Symplmed's email page feature to send a link to a Symplmed Pharmaceuticals page, Symplmed Pharmaceuticals will ask you for the recipient's email address. Symplmed Pharmaceuticals will automatically send the recipient a one-time email inviting him or her to read the featured page. This information is used only for the delivery of this specific email message, and is not stored or used for any other purpose. 

.panel.panel-default

  .panel-heading
    %h4.panel-title
      How does Symplmed Pharmaceuticals secure Information collected on Symplmed Pharmaceuticals Websites?  
      
  .panel-body
    It is Symplmed's practice to secure each Symplmed Pharmaceuticals Website that collects Personal Information in accordance with the Symplmed Pharmaceuticals Privacy Statement; however, the confidentiality of Personal Information transmitted over the Internet cannot be guaranteed. Symplmed Pharmaceuticals urges you to exercise caution when transmitting Personal Information over the Internet. Symplmed Pharmaceuticals cannot guarantee that unauthorized third parties will not gain access to your Personal Information; therefore, when submitting Personal Information to Symplmed Pharmaceuticals Websites, you must weigh both the benefits and the risks. In addition, Symplmed Pharmaceuticals Websites covered by this Website Privacy Statement will display a warning whenever you link to a website that is not controlled by Symplmed. Symplmed Pharmaceuticals has no control over third-party websites or their content and Symplmed's Website Privacy Statement does not apply to such websites. You should check the privacy policies of third-party websites before submitting Personal Information.

.panel.panel-default

  .panel-heading
    %h4.panel-title
      How does Symplmed Pharmaceuticals protect the privacy of children on Symplmed Pharmaceuticals Websites?  
      
  .panel-body
    Symplmed Pharmaceuticals does not knowingly collect or use any Personal Information from children on Symplmed Pharmaceuticals Websites ("children" are defined as minors younger than 13 years old in the United States and younger than 18 years old outside the United States). Symplmed Pharmaceuticals does not knowingly allow children to order Symplmed's products, communicate with Symplmed, or use any of Symplmed's online services. If you are a parent and become aware that your child has provided us with Personal Information, please contact Symplmed Pharmaceuticals using one of the methods specified below and Symplmed Pharmaceuticals will work with you to address this issue.

.panel.panel-default

  .panel-heading
    %h4.panel-title
      How may I correct Personal Information or delete it from current records?  
      
  .panel-body
    With your support Symplmed Pharmaceuticals will keep Personal Information accurate and up-to-date. You may request to remove, amend, or correct your Personal Information at any time, subject to certain exceptions pursuant to the Symplmed Pharmaceuticals Privacy Statement. You may also contact Symplmed Pharmaceuticals to opt-out from any program or other service for which you may have registered via Symplmed Pharmaceuticals Websites. Please notify Symplmed Pharmaceuticals of your wishes by contacting Symplmed Pharmaceuticals by telephone at 888-552-9769 or by e-mail at privacy@symplmed.com. Alternatively, letters may be sent to the following address:
    
    %br
    %p
      %i
        Symplmed Pharmaceuticals
        %br
        Attn: Privacy 
        %br
        5375 Medpace way
        %br
        Cincinnati, Ohio 45227, USA 

    %p
      All communications to Symplmed Pharmaceuticals should include the individual's name and contact information (such as e-mail address, phone number or mailing address), and a detailed explanation of the request. In addition, communications related to Symplmed Pharmaceuticals Websites should include, as applicable, the e-mail address used for registration and the Symplmed Pharmaceuticals Website address on which Personal Information was provided (e.g., www.symplmed.com.). E-mail requests to delete, amend, or correct Personal Information should include "Deletion Request" or "Amendment/Correction Request", as applicable, in the subject line of the e-mail. Symplmed Pharmaceuticals will endeavor to respond to all reasonable requests in a timely manner, and in any case, no less than thirty (30) days from receipt of such request. If you have questions or complaints regarding our privacy policy or practices, please contact us at privacy@symplmed.com or at the mailing address provided above. 

    %p
      Symplmed Pharmaceuticals is committed to achieving a resolution of your privacy concerns. 
