.row{:style => "background-color:#f5f4f2;margin:0 0 0 0;"}
  = render 'layouts/messages'

  .panel.panel-default{:style => "padding:5px 15px 15px 15px;margin-bottom:0;"}
    .panel-body

      .row{:style => "margin-top:15px;"}
        .col-xs-12{:style => "font-size: small;"}
          .panel.panel-default
            .panel-body
              .row
                .col-md-2.hidden-xs
                .col-md-8.col-xs-12{:style => "text-align:center;margin-bottom:10px;margin-top:10px;"}
                  %b
                    Terms of Service & Policies
                .col-md-2.hidden-xs


              .row
                .col-md-2.hidden-xs
                .col-md-8.col-xs-12{:style => "text-align:center;margin-bottom:10px;margin-top:10px;"}
                  %b
                    EMPOWER WHITE LABEL TERMS AND CONDITIONS, PRIVACY POLICY, SHIPPING POLICY AND TIME FRAMES AND RETURN POLICY
                .col-md-2.hidden-xs

              .row
                .col-md-2.hidden-xs
                .col-md-8.col-xs-12
                  These Terms of Service (TOS) govern your use of this site, which is provided by our company. 
                  By accessing this site, you are indicating your acknowledgment and acceptance of these terms of use. 
                  These terms of use are subject to change at any time at our discretion. 
                  Your use of this site after changes are implemented serves as your acknowledgement and acceptance of the changes. 
                  Please consult these terms of use regularly. 
                  %br 
                  %br
                .col-md-2.hidden-xs


              .row
                .col-md-2.hidden-xs
                .col-md-8.col-xs-12
                  %b Access to This Site
                  %br
                  %br
                  You must be at least twenty-one (21) years of age to access this website. If you are under 21 years of age, 
                  you are not permitted to access this website for any reason. Due to the age restrictions for use of this website, 
                  no information obtained by this website falls within the Child Online Privacy Act (COPA) and is not monitored 
                  as doing so.
                  %br
                  %br
                  To access this site or some of the resources it has to offer, you may be asked to provide certain registration 
                  details or other information. It is a condition of your use of this site that all the information you provide on 
                  this site will be correct, current, and complete. The Company has the right to refuse access to this site or any of 
                  its resources if any of the information provided by you is believed to be false or incomplete.
                  %br
                  %br

                .col-md-2.hidden-xs

              .row
                .col-md-2.hidden-xs
                .col-md-8.col-xs-12
                  %b Restrictions on Use
                  %br
                  %br
                  You may use this site for purposes expressly permitted by this site. You may not use this site for any other 
                  purpose, including commercial purposes such as co-branding or hyperlinks, without written consent from a 
                  representative of our Company. For purposes of Terms of Use, “co-branding” means to display a name, logo, 
                  trademark, or other means of attribution or identification of any party in such a manner as is reasonably 
                  likely to give a user the impression that such other party has the right to display, distribute, or publish 
                  this site or content accessible within this site. By accessing this site, you agree to cooperate with our 
                  Company in ceasing unauthorized co-branding, framing or hyperlinking without permission.
                  %br
                  %br
                .col-md-2.hidden-xs

              .row
                .col-md-2.hidden-xs
                .col-md-8.col-xs-12
                  %b Proprietary Information
                  %br
                  %br
                  The material and content (hereinafter referred to as the “Content”) accessible from this site and any other 
                  website owned, operated, licensed, or controlled by our Company is the proprietary information of our Company 
                  and we retain all right, title, and interest in the Content. The Content may not be copied, distributed, 
                  republished, uploaded, posted, or transmitted in any way without the prior written consent of our Company, 
                  except that you may print out a copy of the Content solely for personal use. In doing so, you may not remove or 
                  alter, or cause to be removed or altered, any copyright, trademark, trade name, service mark, or any other 
                  proprietary notice or legend appearing on any of the Content. Modification or use of the Content except as 
                  expressly provided in the Terms of Use violates our Company’s intellectual property rights. Neither title nor 
                  intellectual property rights are transferred to you by this site.
                  %br
                  %br

                .col-md-2.hidden-xs

              .row
                .col-md-2.hidden-xs
                .col-md-8.col-xs-12
                  %b Submissions
                  %br
                  %br
                  You hereby grant to our Company the royalty-free, perpetual, irrevocable, worldwide, non-exclusive right and 
                  license to use, reproduce, modify, adapt, publish, translate, create derivative works from, distribute, perform, 
                  and display all content, remarks, suggestions, ideas, graphics, or other information communicated to our Company 
                  through this site (together, hereinafter known as the “Submission”), and to incorporate any Submission in other 
                  works in any form, media, or technology now know or later developed. Our Company will not be required to treat 
                  any Submission as confidential, and may use any Submission in its business (including without limitation, for 
                  products or advertising) without incurring any liability for royalties or any other consideration of any kind, 
                  and will not incur any liability as a result of any similarities that many appear in future Company operations.
                  %br
                  %br

                .col-md-2.hidden-xs

              .row
                .col-md-2.hidden-xs
                .col-md-8.col-xs-12
                  %b Disclaimer
                  %br
                  %br
                  Your use of this site is at your own risk. The Content provided “as is” and is without warranties of any kind, 
                  either expressed or implied. Our Company disclaims all warranties, including any implied warranties of 
                  merchantability, fitness for a particular purpose, title, or non-infringement. Our Company does not warrant 
                  that the functions or content contained in this site will be up-to-date, uninterrupted or error-free.
                  %br
                  %br 
                .col-md-2.hidden-xs
                  
              .row
                .col-md-2.hidden-xs
                .col-md-8.col-xs-12
                  %b Limitation on Liability
                  %br
                  %br
                  You will indemnify and hold Company, its subsidiaries, affiliates, licensors, content providers, service providers, 
                  employees, agents, officers, directors, and contractors (herein known as “Indemnified Parties”) harmless from any breach 
                  of these Terms of Use by you, including any use of Content other than expressly authorized in these Terms of Use. 
                  You agree that the Indemnified Parties will have no liability in connection with any such breach or unauthorized use, 
                  and you agree to indemnify any and all resulting loss, damages, judgments, awards, costs, expenses, and attorney’s fees of 
                  the Indemnified Parties in connection therewith. You will also indemnify and hold the Indemnified Parties harmless from and 
                  against any claims brought by third parties arising out of the use of the information accessed from this site.
                  %br
                  %br 
                .col-md-2.hidden-xs

              .row
                .col-md-2.hidden-xs
                .col-md-8.col-xs-12            
                  %b Trademarks
                  %br
                  %br
                  Trademarks, service marks, and logos appearing in the site are the property of Company or the party that provided the trademarks, 
                  service marks, and logos to Company. Company and any party that provided trademarks, service marks, and logos to Company retain 
                  all rights with respect to any of their respective trademarks, service marks, and logos appearing this site.
                  %br
                  %br
                .col-md-2.hidden-xs    
              
              .row
                .col-md-2.hidden-xs
                .col-md-8.col-xs-12
                  %b Privacy Policy
                  %br
                  Your privacy is very important to us. We want to make your experience on the Internet as enjoyable and rewarding as 
                  possible, and we want you to use the Internet’s vast array of information, tools, and opportunities with complete 
                  confidence.  We have created this Privacy Policy to demonstrate our firm commitment to privacy and security. 
                  This Privacy Policy describes how our company collects information from all end users of our Internet services 
                  (the “Services”)-those who access some of our Services but do not have accounts (“Visitors”) as well as those 
                  who may purchase Products. We request that you read this Privacy Policy carefully.
                  %br
                  %br
                .col-md-2.hidden-xs

              .row
                .col-md-2.hidden-xs
                .col-md-8.col-xs-12
                  %b Personal Information Our Company Collects and How It Is Used
                  %br
                  %br                
                .col-md-2.hidden-xs

              .row
                .col-md-2.hidden-xs
                .col-md-8.col-xs-12
                  %b Introduction: 
                  Our company collects information in different ways from Visitors and Members who access the various parts of our 
                  Services and the network of Web sites accessible through our Service. We use this information primarily to provide a 
                  customized experience as you use our Products and Services, we do not share this information with third parties. 
                  However, we may disclose personal information collected if we have received your permission beforehand or in very 
                  special circumstances, such as when we believe that such disclosure is required by law or other special cases 
                  described below.
                  %br
                  %br
                .col-md-2.hidden-xs

              .row
                .col-md-2.hidden-xs
                .col-md-8.col-xs-12
                  %b Registration: 
                  Members may be asked to provide certain personal information when they sign up for our Products or Services 
                  including name, address, telephone number, billing information (such as a credit card number), and the type of 
                  personal computer being used to access the Services. The personal information collected from Members during the 
                  registration process is used to manage each Member’s account (such as for billing purposes). 
                  This information is not shared with third parties.
                  %br
                  %br
                .col-md-2.hidden-xs

              .row
                .col-md-2.hidden-xs
                .col-md-8.col-xs-12
                  %b Online Shopping: 
                  At some Web sites, you can purchase products and services or register to receive materials, such as a newsletter, catalog or 
                  new product and service updates. In many cases, you may be asked to provide contact information, such as your name, address, 
                  email address, phone number, and credit/debit card information. 
                  %br
                  %br
                  Additionally, in some instances, we use this aggregated and non-identifying information to deliver tailored advertisements or 
                  joint ventures. For instance, an advertiser or joint venture company tells us the audience they want to reach and provides us 
                  an advertisement tailored to the audience. Based upon the aggregated and non-identifying information we have collected, we may 
                  then display or send the advertisement to the intended audience. Our company does not share personal information about its 
                  Visitors or Members with these advertisers or joint venture companies.
                  %br
                  %br
                .col-md-2.hidden-xs

              .row
                .col-md-2.hidden-xs
                .col-md-8.col-xs-12
                  %b Responses to Email Inquiries: 
                  When Visitors or Members send email inquiries to our company, the return email address is used to answer the email 
                  inquiry we receive. Our company does not use the return email address for any other purpose and does not share the return 
                  email address with any third party.
                  %br
                  %br
                .col-md-2.hidden-xs
              .row
                .col-md-2.hidden-xs
                .col-md-8.col-xs-12
                  %b Voluntary Customer Surveys: 
                  We may periodically conduct both business and individual customer surveys. We encourage our customers to participate in these 
                  surveys because they provide us with important information that helps us to improve the types of products and services we offer 
                  and how we provide them to you. Your personal information and responses will remain strictly confidential, even if the survey is 
                  conducted by a third party. Participation in our customer surveys is voluntary.
                  %br
                  %br
                  We may take the information we receive from individuals responding to our Customer Surveys and combine (or aggregate) it with the 
                  responses of other customers we may have to create broader, generic responses to the survey questions (such as gender, age, 
                  residence, hobbies, education, employment, industry sector, or other demographic information). We then use the aggregated 
                  information to improve the quality of our services to you and to develop new services and products. This aggregated, non-personally 
                  identifying information may be shared with third parties.
                  %br
                  %br
                .col-md-2.hidden-xs
              .row
                .col-md-2.hidden-xs
                .col-md-8.col-xs-12
                  %b Special Cases: 
                  It is our company’s policy not to use or share the personal information about Visitors of Members in ways unrelated to the ones 
                  described above without also providing you an opportunity to opt out or otherwise prohibit such unrelated uses.
                  %br
                  %br
                  However, we may disclose personal information about Visitors or Members or information regarding your use of the Services or Web 
                  sites accessible through our Services, for any reason if, in our sole discretion, we believe that it is reasonable to do so, to 
                  satisfy laws such as the Electronic Communications Privacy Act, the Child Online Privacy Act, regulations, or governmental or 
                  legal requests for such information; to disclose information that is necessary to identify, contact, or bring legal action against 
                  someone who may be violating our Acceptable Use Policy or Terms Of Service, or other user policies; to operate the 
                  Services properly; or to protect our company and our Members.
                  %br
                  %br
                .col-md-2.hidden-xs
              .row
                .col-md-2.hidden-xs
                .col-md-8.col-xs-12
                  %b “Cookies” and How Our Company Uses Them: 
                  A “cookie” is a small data file that can be placed on your hard drive when you visit certain Web sites. Our company may use 
                  cookies to collect, store, and sometimes track information for statistical purposes to improve the products and services we 
                  provide and to manage our telecommunications networks.
                  %br
                  %br
                .col-md-2.hidden-xs
              .row
                .col-md-2.hidden-xs
                .col-md-8.col-xs-12
                  %b Our Company Commitment to Children’s Privacy: 
                  Protecting children’s privacy is especially important to us. It is our policy to comply with the Children’s Online Privacy 
                  Protection Act of 1998 and all other applicable laws. Therefore, we restrict our Web site to persons twenty one years or older.
                  %br
                  %br
                  YOU MUST BE TWENTY ONE (21) YEARS OR OLDER TO ACCESS THIS WEB SITE. IF YOU ARE UNDER TWENTY ONE YEARS OF AGE, 
                  YOU ARE NOT PERMITTED TO ACCESS THIS WEB SITE FOR ANY REASON. DUE TO THE AGE RESTRICTIONS FOR USE OF THIS WEB SITE, 
                  NO INFORMATION OBTAINED BY THIS WEB SITE FALLS WITHIN THE CHILD ONLINE PRIVACY ACT (COPA) AND IS NOT MONITORED AS DOING SO.
                  %br
                  %br
                .col-md-2.hidden-xs
              .row
                .col-md-2.hidden-xs
                .col-md-8.col-xs-12
                  %b Public Forums: 
                  Please remember that any information you may disclose in public areas of our Web sites or the Internet becomes public information. 
                  You should exercise caution when deciding to disclose personal information in these public areas.
                  %br
                  %br
                .col-md-2.hidden-xs
              .row
                .col-md-2.hidden-xs
                .col-md-8.col-xs-12
                  %b Our Company’s Commitment to Data Security: 
                  Services and Web sites we sponsor have security measures in place to protect the loss, misuse, and alteration of the information 
                  under our control. While we make every effort to ensure the integrity and security of our network and systems, we cannot guarantee 
                  that our security measures will prevent third-party “hackers” from illegally obtaining this information.
                  %br
                    %br
                .col-md-2.hidden-xs
                
              .row
                .col-md-2.hidden-xs
                .col-md-8.col-xs-12
                  %b Public Forums: 
                  Please remember that any information you may disclose in public areas of our Web sites or the Internet becomes public information. 
                  You should exercise caution when deciding to disclose personal information in these public areas.
                  %br
                  %br
                .col-md-2.hidden-xs
              .row
                .col-md-2.hidden-xs
                .col-md-8.col-xs-12
                  %b Where to Direct Questions About Our Privacy Policy: 
                  If you have any questions about this Privacy Policy or the practices described herein, you may contact us through the contact 
                  information provided on this Web site or write to: info@empoweroil.com
                  %br
                  %br
                .col-md-2.hidden-xs
              .row
                .col-md-2.hidden-xs
                .col-md-8.col-xs-12
                  %b Revisions to This Policy: 
                  Our company reserves the right to revise, amend, or modify this policy, our Terms Of Service agreement, and our 
                  other policies and agreements at any time and in any manner, by updating this posting.
                  %br
                  %br
                .col-md-2.hidden-xs
              .row
                .col-md-2.hidden-xs
                .col-md-8.col-xs-12
                  %b Shipping and Return Policy: 
                  %br
                  %br
                  All orders are shipped within 2 business days via USPS. You will be provided multiple options ranging from First Class to 
                  2-Day Priority shipping. Orders within Oregon are typically delivered next day – regardless of shipping method.
                  %br
                  %br
                  Once your order has shipped, you will receive a message via email with your tracking number which will provide an estimated 
                  arrival date.
                  %br
                  %br
                  %br
                  Due to the natural ingredients and perishable nature of bodycare products, we do not accept returns on orders at this time, 
                  however if your item arrives damaged or incorrect, please contact us at info@empowerwhitelabel.com immediately so we can 
                  make it right. We are also able to refund and cancel orders if notified via email or phone the same day the order is placed.
                  %br
                  %br
                  To date, we have not received any requests for refunds on our products.
                .col-md-2.hidden-xs

:css
  .modal {overflow-y: auto;}
  .modal-open {padding-right: 0 !important;}