.row{:style => "background-color:#f5f4f2;margin:0 0 0 0;"}
  = render 'layouts/messages'

  .panel.panel-default{:style => "padding:5px 15px 15px 15px;margin-bottom:0;"}
    .panel-body

      .row{:style => "margin-top:15px;"}
        .col-xs-12{:style => "font-size: small;"}
          .panel.panel-default
            .panel-body
              .row
                .col-md-2.hidden-xs
                .col-md-8.col-xs-12{:style => "text-align:center;margin-bottom:10px;margin-top:10px;"}
                  %b
                    PURCHASING AGREEMENT
                .col-md-2.hidden-xs

              .row
                .col-md-2.hidden-xs
                .col-md-8.col-xs-12
                  This Agreement is by and between Enlivity LLC, a Massachusetts limited liability company (&quot;Enlivity&quot;) and You (&quot;Purchaser&quot;).
                .col-md-2.hidden-xs

              .row
                .col-md-2.hidden-xs
                .col-md-8.col-xs-12{:style => "text-align:center;margin-bottom:10px;margin-top:10px;"}
                  %b
                    RECITALS
                .col-md-2.hidden-xs

              .row
                .col-md-2.hidden-xs
                .col-md-8.col-xs-12{:style => "margin-bottom:10px;"}
                  A. WHEREAS Enlivity develops, manufactures and supplies products to the healthcare industry worldwide;
                .col-md-2.hidden-xs

              .row
                .col-md-2.hidden-xs
                .col-md-8.col-xs-12{:style => "margin-bottom:10px;margin-top:10px;"}
                  B. WHEREAS purchaser is you
                .col-md-2.hidden-xs

              .row
                .col-md-2.hidden-xs
                .col-md-8.col-xs-12{:style => "margin-bottom:10px;margin-top:10px;"}
                  C. WHEREAS the Parties desire to enter into this Agreement;
                .col-md-2.hidden-xs

              .row
                .col-md-2.hidden-xs
                .col-md-8.col-xs-12
                  %b SECTION 1 - WHAT DO WE DO WITH YOUR INFORMATION?
                  When you purchase something from our store, as part of the buying and selling process, 
                  we collect the personal information you give us such as your name, address and email address. 
                  When you browse our store, we also automatically receive your computer’s internet protocol (IP) address 
                  to provide us with information that helps us learn about our customer platforms to ensure that we are meeting their technology needs. 
                  Email marketing: With your permission, we may send you emails about our store, new products and other updates. 
                  %br 
                  %br
                .col-md-2.hidden-xs


              .row
                .col-md-2.hidden-xs
                .col-md-8.col-xs-12
                  %b SECTION 2 - CONSENT
                  How do you get my consent?
                  %br
                  When you provide us with personal information to complete a transaction, verify your credit card, place an order, 
                  arrange for a delivery or return a purchase, you imply consent to our collecting that information and using it for that specific reason only. 
                  If we ask for your personal information for a secondary reason, like marketing, we will either ask you directly for your expressed consent, 
                  or provide you with an opportunity to say no.
                  %br
                  %br
                  How do I withdraw my consent? 
                  If, after you opt-in, you change your mind, you may withdraw your consent for us to contact you, or for the continued collection, 
                  use or disclosure of your information, at anytime, by contacting us at customerservice@enlivity.com or mailing us at:  
                  Enlivity, 345 Upland Ave, Newton, MA 02461 USA
                  %br
                  %br

                .col-md-2.hidden-xs

              .row
                .col-md-2.hidden-xs
                .col-md-8.col-xs-12
                  %b SECTION 3 - DISCLOSURE
                  Any applicable sales taxes will be the responsibility of the
                  purchaser and will charged at the time of purchase.
                  %br
                  %br
                .col-md-2.hidden-xs

              .row
                .col-md-2.hidden-xs
                .col-md-8.col-xs-12
                  %b SECTION 4 - THIRD-PARTY SERVICES
                  In general, the third-party providers used by us will only collect, use and disclose your information to the extent necessary to allow 
                  them to perform the services they provide to us. However, certain third-party service providers, such as payment gateways and other payment 
                  transaction processors, have their own privacy policies in respect to the information we are required to provide to them for your 
                  purchase-related transactions. For these providers, we recommend that you read their privacy policies so you can understand the manner 
                  in which your personal information will be handled by these providers. In particular, remember that certain providers may be located in 
                  or have facilities that are located a different jurisdiction than either you or us. So if you elect to proceed with a transaction that involves 
                  the services of a third-party service provider, then your information may become subject to the laws of the jurisdiction(s) in which 
                  that service provider or its facilities are located. As an example, if you are located in Canada and your transaction is processed by a 
                  payment gateway located in the United States, then your personal information used in completing that transaction may be subject to 
                  disclosure under United States legislation, including the Patriot Act.
                  %br
                  %br
                  Once you leave our store’s website or are redirected to a third-party website or application, you are no longer governed by this Privacy Policy or our website’s Terms of Service. 
                  %br
                  %br
                  Links

                  Google Analytics: Our website uses Google Analytics to help us learn about store visits and the pages being viewed.
                  %br
                  %br

                .col-md-2.hidden-xs

              .row
                .col-md-2.hidden-xs
                .col-md-8.col-xs-12
                  %b SECTION 5 - SECURITY
                  To protect your personal information, we take reasonable precautions and follow industry best practices to make sure it is not inappropriately lost, misused, accessed, disclosed, altered or destroyed.
                  %br
                  If you provide us with your credit card information, the information is encrypted using secure socket layer technology (SSL) and 
                  stored with a AES-256 encryption. Although no method of transmission over the Internet or electronic storage is 100% secure, 
                  we follow all PCI-DSS requirements and implement additional generally accepted industry standards.
                  %br
                  %br

                .col-md-2.hidden-xs

              .row
                .col-md-2.hidden-xs
                .col-md-8.col-xs-12
                  %b SECTION 6 - COOKIES
                  Here is a list of cookies that we use. We’ve listed them here so you that you can choose if you want to opt-out of cookies or not. _session_id, 
                  unique token, sessional, Allows Enlivity to store information about your session (referrer, landing page, etc). Persistent for 30 minutes from 
                  the last visit, Used by our website provider’s internal stats tracker to record the number of visits, no data held, expires midnight 
                  (relative to the visitor) of the next day, Counts the number of visits to a store by a single customer. cart, unique token, persistent 
                  for 2 weeks, Stores information about the contents of your cart. _secure_session_id, unique token, sessional storefront_digest, 
                  unique token, indefinite If the shop has a password, this is used to determine if the current visitor has access.
                  %br
                  PREF, persistent for a very short period, Set by Google and tracks who visits the store and from where
                  %br
                  %br 
                  
              .row
                .col-md-2.hidden-xs
                .col-md-8.col-xs-12
                  %b SECTION 7 - AGE OF CONSENT
                  By using this site, you represent that you are at least the age of majority in your state or province of residence, 
                  or that you are the age of majority in your state or province of residence and you have given us your consent to allow 
                  any of your minor dependents to use this site.

              .row
                .col-md-2.hidden-xs
                .col-md-8.col-xs-12            
                  %b SECTION 8 - CHANGES TO THIS PRIVACY POLICY
                  We reserve the right to modify this privacy policy at any time, so please review it frequently. Changes and clarifications will 
                  take effect immediately upon their posting on the website. If we make material changes to this policy, we will notify you here 
                  that it has been updated, so that you are aware of what information we collect, how we use it, and under what circumstances, if any, 
                  we use and/or disclose it.
                  %br
                  If our store is acquired or merged with another company, your information may be transferred to the new owners so that we may continue 
                  to sell products to you.
                  %br
                  %br
                  
              
              .row
                .col-md-2.hidden-xs
                .col-md-8.col-xs-12
                  %b QUESTIONS AND CONTACT INFORMATION
                  %br
                  If you would like to: access, correct, amend or delete any personal information we have about you, register a complaint, or simply 
                  want more information contact our Privacy Compliance Officer at customerservice@enlivity.com or by mail at Enlivity 345 Upland Ave, Newton, MA 02461 USA
                  %br
                  %br
                  
              .row
                .col-md-2.hidden-xs
                .col-md-8.col-xs-12
                  %b RETURN POLICY 
                  Enlivity will accept returns of merchandise purchased directly from Enlivity only when the following conditions are satisfied:
                  %br
                  To be considered for reimbursement, dietary supplements must be returned unopened and in the original packaging. All items must be received within 30 days of purchase. In all cases, refunds will be made ONLY to the credit card used for the original purchase. Please allow 2 billing cycles for the refund credit to appear on your statement.
                  %br
                  HOW TO RETURN AN ITEM Please put the merchandise to be returned in the box in which it was received. Include the original packing slip to ensure accurate processing for the item(s) being returned.
                  %br
                  Write “RETURN” on the top of the packing slip and specify what items are being returned. 


:css
  .modal {overflow-y: auto;}
  .modal-open {padding-right: 0 !important;}