.container
  .row{:style => "background-color:#1c1e4d"}
    .col-md-12{:style => "height:200px"}
      %span{:style => "color:white;"}
        Welcome, :class => "whitelink"
        =link_to  FAQ', {:controller => 'faq', :action => 'index'}, :class => "whitelink"

.container{:style => "margin:0;padding:0;background-color:white;"}
  = render 'layouts/patients/menu_bar'
  
    .col-md-12.col-xs-12{:style => "margin:15px 0 15px 0;"}
      .col-sm-4{:style => "padding:5px;"}
        = image_tag('eptex logo_hr.png')
      .col-sm-4{:style => "padding:5px;"}
        = image_tag('controlledrelease_textstacked_hr.png')
      .col-sm-4{:style => "padding:5px;"}
        = image_tag('EpiCeram-L_hr.png')


:CSS
  .whitelink {
    color:white;
    font-size-36px;
   }
   a.whitelink:hover {
       color:white;
      }