.container
  .row{:style => "background-color:#f0ddbe"}
    .col-md-12{:style => "height:200px"}
      %span{:style => "color:white;"}
        Welcome, :class => "whitelink"
        =link_to  FAQ', {:controller => 'faq', :action => 'index'}, :class => "whitelink"

    .col-md-12{:style => "margin:0;padding:0;"}
      = image_tag('welcome1000x211.png', :style => "width:100%;")
      
.container{:style => "margin:0;padding:0;background-color:white;"}
  = render 'layouts/patients/menu_bar'
  
:CSS
  .whitelink {
    color:white;
    font-size-36px;
   }
   a.whitelink:hover {
       color:white;
      }