.container
  .row{:style => "background-color:#1c1e4d"}
    .col-md-12
      = render 'layouts/patients/menu'

#back_ground_wrapper
  .container{:style => "background-color:#f5f4f2;"}
    .row
      #main-container.col-md-12{:style => "padding:0;"}
        = yield
