#header_bar.row.hidden-xs.hidden-sm.visible-md.visible-lg{:style => "background-color:white;margin:0;padding:0;"}

  #mobile_nav_bar.col-xs-12{:style => "padding:5;"}
    %ul.nav.nav-pills.navbar-right{:style => "padding-right:20px;padding-top:4px;"}
      %li
        %a{:href => "/patients/products", :id => "products-mobile", :class => "button-hover"}
          Products

      %li
        %a{:href => "/patients/cart", :id => "cart-mobile", :class => "button-hover"}
          Cart
          = (@cart_size.to_i > 0 )?'(' + @cart_size.to_s + ')':''


      %li{:style => "width:120px;"}
        = link_to( destroy_patients_patient_session_path, {:method => "delete", :class => "button-hover"}) do
          Logout


:CSS

    #mobile_nav_bar .nav-pills > li > a.button-hover{
        color:white;
        background-color:#ffffff;
        font-weight:bold;
      }
    #mobile_nav_bar .nav-pills > li > a.button-hover:hover{
      color:#333333;
    }