.row
  .col-xs-12
    -# Rails flash messages styled for Bootstrap 3.0
    - flash.each do |name, msg|
      - if msg.is_a?(String)
        %div{:class => "alert alert-#{name}", :style => "margin-bottom: 0px;font-weight:bold;"}
          %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
          = content_tag :div, msg.html_safe, :id => "flash_#{name}"
